.content {
    margin: 50px;
}

.content__container {
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* border: 1px solid red; */
    border-radius: 16px;
    justify-content: center;
}

.content__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 48px;
    flex: 1;
}

.content__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__image {
    width: 100%;
}

.content__details h1 {
    font-size: 24px;
}

.content__info {
    border-top: 1px solid grey;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .content h1 {
        font-size: 12px;
        padding: 20px 50px;
    }

    .content img {
        height: 50%;
        width: 50%;
    }

}