.content {
    margin: 50px;
}

.content__container {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
    border-radius: 16px;
    justify-content: center;
    flex-direction: column;
}

.content__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 48px;
    flex: 1;
}

.content__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__image {
    width: 100%;
}

.content__details h1 {
    font-size: 24px;
}

.content__info {
    border-top: 1px solid grey;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content__comment__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.content__comments {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid grey;
    margin: 8px 0;
    align-items: center;
}

.content__comments p {
    padding: 8px;
}

.content__author {
    color: blue;
}

@media only screen and (max-width: 600px) {
    .content h1 {
        font-size: 12px;
        padding: 20px 50px;
    }

    .content img {
        height: 50%;
        width: 50%;
    }

}